@import "../../../../style/data"

@media only screen and (max-width: 767px)
  .videoinv

    .ifr

      iframe
        max-height: 300px

@media only screen and (max-width: 499px)
  .videoinv

    .ifr

      iframe
        max-height: 240px

@media only screen and (max-width: 399px)
  .videoinv

    .ifr

      iframe
        max-height: 200px


