.done
  min-height: 100vh
  padding-top: 130px
  display: flex
  align-items: center
  background-size: cover
  background-position: center
  background-repeat: no-repeat

  .t

    h4
      font-size: 20px
      color: white
      font-family: 'TT Norms',Arial,sans-serif
      margin-bottom: 25px

  iframe
    min-height: 315px
    min-width: 100%

  .time-back
    display: flex
    align-items: center

    p
      color: white
      font-weight: 500
      font-size: 20px
      font-family: 'TT Norms',Arial,sans-serif


  .done-text
    text-align: center

    h3
      font-size: 28px
      font-weight: 600
      color: white
      letter-spacing: 1px
      margin-bottom: 15px
      font-family: 'TT Norms',Arial,sans-serif

    p
      font-size: 22px
      color: white
      font-weight: 300
      letter-spacing: 1px
      margin-bottom: 15px
      font-family: 'TT Norms',Arial,sans-serif

  .t-done
    text-align: left

    h5
      font-size: 20px
      font-weight: 700
      font-family: 'TT Norms',Arial,sans-serif
      color: white

    ul
      padding-top: 20px
      padding-bottom: 20px

      li
        color: white
        font-size: 18px
        font-weight: 400
        margin-top: 10px

        &:last-child
          margin-bottom: 0