@import "../../../../style/data"

@media only screen and (max-width: 991px)
  .whoneeds

    .whoneeds-tabs

      .tab-content

        .tab-pane

          .tab-who
            flex-direction: column
            justify-content: center

            .t
              max-width: 600px
              margin-top: 30px

              h4

@media only screen and (max-width: 767px)
  .whoneeds

    .whoheeds-pluses

      .pluses-item

        button
          font-size: 20px

        .t-plus

          h4
            font-size: 20px

          p
            font-size: 18px