@import "../../../../style/data"

footer
  background-color: black
  padding: 30px 0

  .t
    margin-top: 50px

    p
      color: white
      font-weight: 900

  img
    height: auto
    max-width: 200px
    margin-bottom: 50px

  a
    text-decoration: none
    outline: none
    font-size: 26px
    line-height: 1.23
    transition: .2s
    color: white

    &:hover
      text-decoration: none
      transition: .2s
      color: rgba(255,255,255,.7)

  form

    input
      border-radius: 4px
      text-align: center
      display: block
      width: 100%
      padding: 15px 20px
      box-shadow: 0 0 5px 0 rgba(0,0,0,.1)
      font-size: 18px
      margin-bottom: 15px
      margin-left: auto
      margin-right: auto
      border: 1px solid rgba(0,0,0,.1)
      max-width: 350px


    .t
      padding: 30px 0

      h4
        color: white
        font-weight: 700

    .order

@import "footer-media"
