@import "../../../../style/data"

footer
  background-color: black
  padding: 30px 0

  .t
    margin-top: 50px

    p
      color: white
      font-weight: 900

  img
    height: auto
    max-width: 200px
    margin-bottom: 50px

  a
    text-decoration: none
    outline: none
    font-size: 26px
    line-height: 1.23
    transition: .2s
    color: white

    &:hover
      text-decoration: none
      transition: .2s
      color: rgba(255,255,255,.7)

@import "footer-media"
