@import "../../../../style/data"

.participate
  padding: 60px 0
  background-color: #f3f3f3

  .t
    text-align: left

    h4
      font-size: 24px

      span
        font-size: 22px

.part-offer
  min-height: 100vh
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  position: relative
  overflow: hidden
  display: flex
  align-items: center
  justify-content: center

  .t
    position: relative
    z-index: 2
    text-align: left

    h3
      font-size: 42px
      font-weight: 900
      color: whitesmoke

      span
        font-size: 38px
        font-weight: 300
        font-family: 'TT Norms Light',Arial,sans-serif

.part-offer-2
  background-attachment: fixed

  .t
    background-color: white
    padding: 50px
    border-radius: 2px

    h3
      color: $text_color
      display: block
      margin-bottom: 40px

      span
        padding-top: 40px
        display: block

    p
      color: $text_color
      font-size: 20px
      margin-bottom: 30px
      font-weight: 700

      &:last-child
        margin-bottom: 0

.part-offer-3
  align-items: flex-end
  background-attachment: fixed
  background-position: center

  .t
    background-color: black
    padding: 50px
    border-radius: 2px

    h3
      color: whitesmoke
      display: block
      margin-bottom: 40px

    p
      color: white
      font-weight: 900
      font-size: 24px
      margin-bottom: 30px
      line-height: 30px

      &:last-child
        margin-bottom: 0



@import "participate-media"