@import "../../../../style/data"

.form-modal

  .modal-body
    padding-top: 0

  .modal-dialog-centered
    justify-content: center

  .modal-content
    border-radius: 4px
    max-width: 370px

  .modal-header
    border-bottom: 0
    border-radius: 0

    .modal-title
      font-family: 'TT Norms',Arial,sans-serif
      font-size: 20px
      font-weight: 700

  form

    input
      text-align: center
      display: block
      width: 100%
      padding: 15px 20px
      box-shadow: 0 0 5px 0 rgba(0,0,0,.1)
      font-size: 18px
      margin-bottom: 15px
      margin-left: auto
      margin-right: auto
      border: 1px solid rgba(0,0,0,.1)
      max-width: 350px


    .t
      padding: 30px 0

      p
        color: black
        font-weight: 700

    .order
      padding-top: 20px


@import "form-modal-media"