@import "../../../../style/data"

.video-blog
  padding: 30px 0

  .t
    margin-bottom: 25px

  .vid
    border-radius: 4px
    overflow: hidden
    box-shadow: $box_shadow_middle

@import "video-blog-media"