@import "../../../../style/data"

.first-scroll
  position: relative
  overflow: hidden
  min-height: 100vh
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  display: flex
  align-items: center

  .ct
    position: relative
    z-index: 2

  .order

  .t

    p
      font-style: inherit
      font-family: 'Roboto', sans-serif!important
      font-weight: 500

  .t-name
    display: flex

    h4
      color: white
      font-size: 32px
      font-weight: 500

    h5
      color: white
      font-size: 26px
      font-weight: 400

  .t-sub
    width: auto

    h3
      color: white

    p
      color: white
      margin-bottom: 0

.cos
  position: absolute
  bottom: 1.5%
  left: 50%
  transform: translateX(-50%)
  z-index: 4




@import "first-scroll-media"