@import "../../../../style/data"

@media only screen and (min-width: 992px)
  .first-scroll

    .order

    .t

      h1
        margin-bottom: 0

      h2
        margin-bottom: 0

      p
        font-size: 28px
        font-weight: 300
        margin-bottom: 25px

    .t-sub
      margin-bottom: 0

@media only screen and (min-width: 1200px)
  .first-scroll

    .order
      margin-left: 20px

    .t

      h1
        line-height: 52px
        letter-spacing: 2px
        font-size: 52px

      h2
        line-height: 45px

    .t-name

      h4
        font-size: 38px


@media only screen and (max-width: 1199px)
  .first-scroll

    .t

      h1
        line-height: 52px
        letter-spacing: 2px
        font-size: 48px

      h2
        line-height: 45px

      h3

      p

    .t-name
      text-align: center
      margin-top: 40px

    .t-sub

      h3
        font-size: 26px

@media only screen and (max-width: 991px)
  .first-scroll

    .order
      margin-top: 30px

    .t
      padding-top: 50px

      h1
        letter-spacing: 2px
        font-size: 38px

      h2
        line-height: 45px
        font-size: 24px

      h3

      p
        font-size: 22px

    .t-name

      h4
        font-size: 32px


@media only screen and (max-width: 767px)
  .first-scroll

    .order

      button
        font-size: 14px

    .t
      padding-top: 50px

      h1
        line-height: 30px
        letter-spacing: 2px
        font-size: 26px

      h2
        line-height: 30px
        font-size: 20px

      h3
        font-size: 22px

      p
        font-size: 18px
        line-height: 24px

    .t-name

      h4
        font-size: 22px

      h5
        font-size: 18px


@media only screen and (max-width: 575px)
  .first-scroll
    background-position: center


