@import "../../../../style/data"

.first-scroll
  position: relative
  overflow: hidden
  min-height: 100vh
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  display: flex
  align-items: center
  padding-top: 100px
  padding-bottom: 30px

  .ct
    position: relative
    z-index: 2

  .order

  .t

    hr
      height: 3px
      width: 100px
      background-color: $yellow_light

    p
      font-style: inherit
      font-family: 'Roboto', sans-serif!important
      font-weight: 500

  .t-name
    display: flex

    h4
      text-align: center
      color: white
      font-size: 42px
      border-radius: 2px
      font-weight: 500
      display: inline-block
      line-height: 52px
      padding: 15px
      background-color: rgba(221, 72, 56, 0.66)
      box-shadow: 0 0 10px 0 rgba(255,255,255,.07)

      span


    h5
      color: white
      font-size: 26px
      font-weight: 400
      background-color: rgba(0,0,0,.4)
      display: flex
      justify-content: center
      align-items: center
      padding-left: 10px
      padding-right: 10px

  .t-sub
    width: auto
    position: relative
    z-index: 1

    h3
      color: white

      span
        color: $yellow_light

    p
      color: white
      margin-bottom: 0

.cos
  position: absolute
  bottom: 1.5%
  left: 50%
  transform: translateX(-50%)
  z-index: 4




@import "first-scroll-media"