@import "../../../../style/data"

.sentence
  overflow: hidden
  position: relative
  padding-top: 60px
  background-color: rgba(232, 255, 230, 0.31)

  img
    height: auto
    max-width: 100%

  .t
    margin-bottom: 50px

    h3

    p
      border: 1px solid white
      text-align: left
      box-shadow: 0 0 10px 0 rgba(0,0,0,.15)
      border-radius: 4px
      font-size: 28px
      font-weight: 300
      background-color: $yellow_light
      padding: 10px
      color: white

@import "sentence-media"