@import "../../../../style/data"

@media only screen and (min-width: 1200px)
  .expert

    .t
      margin-bottom: 50px

@media only screen and (max-width: 575px)
  .expert

    .t-desc
      padding: 15px

      ul

        li
          font-size: 16px
